<p>
  <strong>Commenter:</strong>
  <%= comment.user_id %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.text %>
</p>

<p>
  <% if(comment.user_id == current_user.id) %>
  	<%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>