<%= form_for([post, post.comments.build], namespace: 'post'+post.id.to_s) do |f| %>
  	<div class='post_comment_avatar'>
	  	<%= render partial: "user_infos/show_avatar", locals:{user_info: current_user.user_info} %>
  	</div>
    <div class='post_comment_text'>    	
    	<%= f.text_area :text %>
    </div>  
  	<div class='post_comment_submit'>
    	<%= image_submit_tag("plus.png") %>
    </div>
 
<% end %>