<% if !@following.nil? %>
 <% @following.each do |user| %>
<%= t 'home.followed_by', scope: :custom %> 
<br />
    <p>	
    	<%= user.screenname %>      		               		 		               
      <br /> 
    </p>
 <% end %>
<% end %>