<% if !@followed.nil? %>
 <% @followed.each do |user| %>
<%= (t 'home.following', scope: :custom) %>:
<br />
    <p>	
    	<%= user.screenname %> <%= link_to (t 'home.unfollow', scope: :custom), "followers/"+user.id.to_s, method: :delete, data: { confirm: (t 'home.unfollow_confirm', scope: :custom) } %>         
      <br /> 
    </p>
 <% end %>
<% end %>