  
  <p>
    Post from<br>
    <%= current_user.screenname %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
  
  <% if @images %>
    <% @images.each do |image| %>
  
  	<%= render "image" %> 
 
    <% end %>
  <% end %>
  