<% if @likeable_reference %>
	<td><%= link_to (t 'posts.like', scope: :custom), "posts/like/"+@post.id.to_s %></td>  
<% else %>
	<td><%= link_to (t 'posts.unlike', scope: :custom), "posts/like/"+@post.id.to_s %></td>
<% end %>