<% if likeable_reference %>
	<td><%= link_to get_like_text(), "posts/like/"+post.id.to_s, remote: true, :class => "a_likeLink", :id => "a_likeLink_"+post.id.to_s %></td>  
<% else %>
	<td><%= link_to get_unlike_text(), "posts/like/"+post.id.to_s, remote: true, :class => "a_likeLink", :id => "a_likeLink_"+post.id.to_s %></td>
<% end %>