<h1>Editing post</h1>
 
<%= render "form" %>

<% if @images %>
  <%= render "images/images_show" %>
<% end %>
  

<%= link_to 'Add Image', new_post_image_path(@post.id) %>
<br />
<%= link_to 'Back', posts_path %>