$comment-avatar-size: 48px;

.comment{
  
  font-family: "Latin Modern Sans 10 Bold Oblique", Arial;
  font-size: 11pt;
  .comment_header{
    height: $comment-avatar-size + 5px;
  }
  .comment_avatar{
    float:left;
    
    img{
      width: $comment-avatar-size;
      height: $comment-avatar-size;
    }
  }
  
  .comment_commenter{
    padding-top: 5px;       
    margin-left: $comment-avatar-size + 10px;
    font-weight: bold;
  }
  
  .comment_datetime{  
    margin-top:5px;  
    margin-left: $comment-avatar-size + 10px;
    font-size: 9pt;
    font-style: italic;
    color: #585858;
  }
  
  .comment_text{
    
  }
  
}
