$main-color: #008000;
$main-bg-color: #C3FFB4;
$header-bg-color: #8BEA73;
$left-margin: 100px;
$min-app-height: 300px;
$header-height: 70px;
$default-font-family: "Latin Modern Sans 10 Bold Oblique", Arial;
//$max-app-height: 600px;

$app-width: 1000px;
$left-width: 250px;
$right-width: 250px;

@media (max-width: $app-width+$left-margin*2) {
  #main_content {
    margin-left: 0px;
  }
  
  header{
    padding-left:0px;
  }
}

@media (min-width: $app-width+$left-margin*2){
  #main_content {
    margin-left: $left-margin;
  }
  
  header{
    padding-left: $left-margin;
  }
}

@mixin avatar-size(){
  width: 48px;
  height:48px;
}

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin positioning($bgcolor){
  border: 0px black solid;
  background-color:$bgcolor;
}

.link{
  cursor: pointer;
}

a{
  color: inherit;
  text-decoration: none;
}

body{
  margin: 0px;
}

header{  
  background-color:$header-bg-color;
  position:fixed;
  height: $header-height;
  width: 100%;  
  #header_wrapper{
    width:$app-width;
    #main_logo{
      margin-top:10px;
      margin-left:10px;
      float:left;
      width:267px;
      height:50px;
      background-image: image-url("ketsie_logo.png");
    }
    #search_field{
      float:left;
      margin-top:30px;
      margin-left:30px;
      
      input#post_search{
        height: 26px;
        width: 350px;
        padding-right:0px;
        border-right:0px;
      }
      input#fake_bg{
        background-image: image-url("zoom.png");
        border: 0px;
        padding: 0px;
        height: 26px;
        width: 26px;
      }
    }
    #top_menu{     
      float:right;
      margin-top:12px;
      margin-right:10px;      
      height: $header-height;
      #currentuser_screenname{
        margin-top:15px;
        margin-right: 25px;            
        display:inline-block;
        vertical-align:middle;       
        font-family: $default-font-family;
        font-weight: bold;
        color: $main-color;
      }
      #currentuser_avatar{                
        display:inline-block;
        vertical-align:middle;
        img{                    
          @include avatar_size();
          box-shadow: 1px 1px 3px #008000;
        }
      }
    }
  }
}

ul{
  list-style-type:none;
  padding: 0px;
  margin: 0px;
}

#main_content{
  position:relative;
  top: $header-height;
  float: left;
  width: $app-width;
  max-width: $app-width;
  min-height: $min-app-height; 
  
  section{
    margin:0px;
  } 
  
  .main_background{
      background-color: $main-bg-color;
      font-family: $default-font-family;   
      padding: 15px;
      margin: 10px;
      @include rounded-corners(5px); 
    }
 
  #images_section{
    min-height: $min-app-height;
    float: left;
    width: $left-width;
    display: inline;
    #images_fixed{
      width: $left-width - 10px;
      padding: 5px;
      position: fixed;
      top: $header-height;
      //text-align:right;
      .img_preview_wrapper{
        float: left;
        padding: 3px;
        @include rounded-corners(5px);
        img{
          &:hover{
            box-shadow: 1px 1px 5px $header-bg-color;          
            
          }
        }
                
      }      
      .image_preview{        
        @include rounded-corners(5px);
        background-color: $main-bg-color;
      }
      .image_preview img{
        width: (($left-width - 35px) / 4);
        height: auto;
      }
      #image_detail{
        @include rounded-corners(5px);
        background-color: $main-bg-color;
        padding: 5px;
        margin-bottom:5px;
        width:$left-width - 20px;
        #image_detail_img{
          text-align:center;
          max-width: $left-width - 20px;
          img{
            max-width: $left-width - 20px;
            height: auto;
          }
        }
      }
    }
  }
  
 
  #posts_section{   
    margin-left: 0px;
    margin-right: 0px;     
    padding: 5px;
    min-height: $min-app-height;
    float: left;
    width: $app-width - ($left-width + $right-width) - 10px;
    /*overflow-y:scroll;
    max-height: $max-app-height;  */
   
   .new_image_input{
        z-index: 999;
        line-height: 0;
        font-size: 50px;
        position: absolute;
        top: -2px;
        left: -700px;
        opacity: 0;
        filter: alpha(opacity = 0);
        -ms-filter: "alpha(opacity=0)";
        cursor: pointer;
        _cursor: hand;
        margin: 0;
        padding:0;
    }
    
    .new_image_div{
        cursor:pointer;
        //width:120px;
        //height:40px;
        overflow:hidden;
        position:relative;
        //background-color:#ccc;
        margin-right:50px;
        display:inline-block;
        img{
          width: 20px;
          height: 20px;
        }
      }
      
    .new_post{ 
      margin-bottom: 5px; 
      padding-top: 5px;
      padding-bottom: 5px; 
      width: $app-width - ($left-width + $right-width) - 10px;
      background-color: $main-bg-color;
      @include rounded-corners(5px);
      textarea{
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
        border: 0 none white;
        resize: none;
        overflow: hidden;
        @include rounded-corners(5px);
        width: $app-width - ($left-width + $right-width) - 45px;
        border: 1px darkgrey solid;
        &:focus{
          outline: none !important;
          border:1px solid #8BEA73;
          box-shadow: 0 0 10px #8BEA73;
        }
      }
      
      .new_post_text{
        padding-bottom:5px;
      }
      .new_post_submit{
        margin-right:15px;
        display:inline-block;
        float:right;        
        input{          
          @include rounded-corners(4px);
        }
      }      
    }
    
    .post{     
      margin-bottom: 5px;
      padding: 10px;
      background-color: $main-bg-color;
      @include rounded-corners(5px);      
      .post_comment_text textarea{
        width: $app-width - ($left-width + $right-width) - 100px;        
      }
      /*&:hover{
        box-shadow: 1px 1px 5px #008000;
        outline: none;
      }*/
    }

  }
  
  #comments_section{   
    min-height: $min-app-height;
    float: right;
    width: $right-width;
    display: inline;
    #comments_fixed{
      padding: 5px; 
      width: $right-width - 10px;
      position: fixed;
      top: $header-height;
      .comment{
        @include rounded-corners(5px);
        background-color: $main-bg-color;
        padding: 5px;
        margin-bottom: 5px;
      }
    }
  }
  
  .user_edit_wrapper{    
    .main_background{
      background-color: $main-bg-color;
      font-family: $default-font-family;   
      padding: 15px;
      margin: 10px;
      @include rounded-corners(5px); 
    }
    
    #user_edit{          
      padding-bottom:25px;
      float:left;
      padding-left:30px;
      .edit_label{
        display:list-item;
        margin-bottom:5px;
        font-weight: bold;
        font-size: 10pt;
      }    
      .edit_field{
        margin-bottom:10px;
        margin-left:20px;
      }
    }
    #user_delete{
      float:left;
      text-align:center;
    }
  }
  
  #user_info_wrapper{
    .main_background{
      background-color: $main-bg-color;
      font-family: $default-font-family;   
      padding: 15px;
      margin: 10px;
      @include rounded-corners(5px); 
    }
    
    #edit_user_infos{
      
      float:left;
      #user_info_descr{
        margin-top:15px;
        margin-bottom:15px;
        textarea{
          resize:none;
        }
      }
    }
    #edit_user_locale{
      float:left;
    }    
    #edit_user_followers{
      float:left;
    }   
    #edit_user_logout{
      float:right;
    }     
  }
}
