$post-avatar-size: 40px;
$main-color: #008000;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.post{
  font-family: "Latin Modern Sans 10 Bold Oblique", Arial;
  font-size: 11pt;
  .post_header{
    height: $post-avatar-size + 5px;
  }  
  
  .post_user_avatar{
     float:left;
     img{
       width: $post-avatar-size;
       height: $post-avatar-size;
     }
  }
  
  .post_name_time{
    padding-top:2px;     
    margin-left: 10px;
    float:left;
    .post_screenname{                   
      font-weight: bold;
    }    
    .post_datetime{  
      margin-top:5px;       
      font-size: 9pt;
      font-style: italic;
      color: #585858;
    }  
  }  
  
  .post_menu{
    float:right;
    text-align: right;
    img{      
      width: 15px;
      height: 15px;
    }
    .post_menu_menu{      
      padding:5px;
      background-color: #8BEA73;
      display:none;     
      @include rounded-corners(3px);      
      font-weight:bold; 
      font-size: 9pt;      
      li{
        color: $main-color;
        padding-top:2px;            
        &:hover{
          outline: none;
          color: white;                      
          //border:1px solid #8BEA73;
          //box-shadow: 0 0 10px #8BEA73;
        }
      }
    }    
  }
  
  .post_text{
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .post_edit{
    display:none;
    margin-top: 5px;
    margin-bottom: 10px;
    textarea{
      resize: none;
      width:100%;
      overflow:auto;
      @include boxsizingBorder;
    }
  }
  
  .post_likeable{
    float:left;
    color: $main-color;
    font-weight: bold;
    font-size: 10pt;
    margin-right: 10px;
  }
  
  .post_liked_by{
    color: $main-color;    
    font-size: 10pt;
    margin-right: 10px;
  }
  
  .post_add_comment{
    margin-top:10px;    
  }
  
  .post_comment_avatar{
     margin-top:1px;
     float:left;
     width: $post-avatar-size/1.7;
     height: $post-avatar-size/1.7;
     img{
       width: $post-avatar-size/1.7;
       height: $post-avatar-size/1.7;
     }
  }
  .post_comment_text{
    margin-left:5px;
    display:inline-block;
    textarea{
      padding:5px;
      border: 1px solid darkgrey;
      resize: none;
      overflow: hidden;
      height: 28px;
      &:focus{
          outline: none;
          border:1px solid #8BEA73;
          box-shadow: 0 0 10px #8BEA73;
        }
    }
    
  }
  .post_comment_submit{
    float:right;
    margin-top: 5px;
    input{
      width: $post-avatar-size/3;
      height: $post-avatar-size/3;
    }
  }    
  
}