<p><%= (t 'home.welcome', scope: :custom) %> <%= @email %>!</p>

<p><%= (t 'devise.email_confirm', scope: :custom) %>:</p>

<p><%= link_to (t 'devise.confirm_account', scope: :custom), confirmation_url(@resource, :confirmation_token => @token) %></p>
