  <% @images.each do |image| %>
	<p>	
		<% if image.file_type =~ /^image\/.*?(png|jpeg|gif)$/ %> 
			<%= image_tag url_for({:controller => "images", :action => 'image', :id=> image.id}), :alt => image.file_name, :size => "350x300" %>
			<p><%= image.description %></p>							
			<%= link_to ('delete image'), "images/"+image.id.to_s, method: :delete, data: { confirm: ('post_confirm') } if (!@post.nil?) && (@post.user_id == current_user.id) %>
		<% end %>	               		               		 		               
	  <br /> 
	</p>
  <% end %>