<header>
	<div id='main_logo'></div>
	<span><%= search_field(:post, :text) %></span>
	<% if user_signed_in? %>
		<span>		
			<%= @current_user.screenname %>
		</span>
		<span>					
  			<%= render partial: "user_infos/show_avatar", locals: {user_info: @current_user.user_info } %>
		</span>
		<span>	
			<%= link_to (t 'layouts.logout', scope: :custom), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
		</span>
	<% end %>
</header>
