<section id='images_section'>
	<div id='images_fixed'>
		<%= yield :images_section %>
	</div>
</section>


<section id='posts_section'>
	<%= yield :posts_section %>
</section>


<section id='comments_section'>
	<div id='comments_fixed'>
		<%= yield :comments_section %>
	</div>
</section>
